html,
body {
    margin: 0px;
    padding: 0px;
}

#Wrapper {
    text-align: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#ChartsChange{
    margin: 5px 0px 0px 0px;
}
#Charts {
    margin: 5px 0px 0px 0px;
    border: 1px solid #000;
}